<div>
  <div id="firstHeader">
      <div id="test">
          <h1><a href="index.html">Newbie.Tech</a></h1>
          <p>Something about mistakes in tech</p>
      </div>
      <nav>
          <div class="secondnav">
              <div class="secondnav-first">
                  <li><a href="home">Home</a></li>
                  <li><a href="" class="active">About</a></li>
              </div>
              <div id="social-icons">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-instagram"></i></a>
              </div>
          </div>
      </nav>
  </div>
  <div class="about-me">
      <div class="about">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quia odio atque nesciunt eaque. Numquam
          quo asperiores, tenetur ratione, eos praesentium corporis, quis quos veritatis soluta enim exercitationem
          laboriosam dolores.
      </div>

  </div>
  <hr>
  <footer>
      <div id="footer-details">
          <div class="subscription-info">
              <h6 class="font_6" style="line-height:1.4em;">Never Miss a&nbsp;Post.&nbsp;Subscribe Now!</h6>
              <p class="font_8" style="line-height:1.6em;">I'm a paragraph. Click here to add your own text and edit
                  me. It's easy.</p>
          </div>
          <div class="subscription-form">
              <form [formGroup]="subscriptionForm" (ngSubmit)="onSubmit()">
                  <input type="text" name="" id="" placeholder="Enter your email here">
                  <button class="btn" type="button"> Subscribe Now </button>
              </form>
          </div>
      </div>
      <div class="footer-social">
          <div class="">
              <small>© 2019 by Cpt Shredder </small>
          </div>
          <div id="footer-social-icons">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-instagram"></i></a>
          </div>
      </div>

  </footer>
</div>